* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

#loading-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  z-index: 9999;
}

#loading-bar-progress {
  height: 100%;
  background-color: #007bff;
  width: 50%;
}

#loading-bar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.view-recipe-btn {
  cursor: pointer;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bgimg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; 
  z-index: -1;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#home-icon img {
  width: 20px; 
  height: 20px; 
}

#home-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

h1 {
  margin-left: 30px; 
}

main {
  padding: 20px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.form-group button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.meal-plan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.meal-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.meal-card h3 {
  margin: 0;
  font-size: 18px;
}

.meal-card p {
  margin-top: 5px;
}

.meal-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #f0f0f0; /* Change to light grey color */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#recipe-title {
  margin-top: 0;
}

#recipe-instructions ol {
  padding-left: 20px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }

  .meal-card {
    width: 100%;
  }
}
